@import '../../styles/colours.scss';


.login-form {
    display: inline-block;
    flex-direction: column;
    border: 2px solid $base-color-dark;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    height: 450px;
    margin: 10px;
    color: $base-color-dark;
}
.label {
    text-align: left;
    margin: 10px 0;
}
form .form-control {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
    border: 1px solid $base-color-dark;
}
button.btn {
    padding: 10px;
    background-color: $accent-color-2;
    color: $base-color-light;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    margin-top: 10px;
}
button.btn:hover {
    background-color: $accent-color-1;}

.login-wrapper .login-form
{
    display: inline-block;
    flex-direction: column;
    border: 2px solid $base-color-dark;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    height: 350px;
    margin: 10px;
}

// button.login-btn {
//     padding: 10px;
//     background-color: $base-color-light;
//     color: pink;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
//     width: 50%;
//     margin-top: 10px;
// }


.signup-link
{
    text-decoration: none;
}